* { box-sizing: border-box; } 
div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } 
a {color: inherit;text-decoration: none;}
body { margin: 0; font-family: 'pretendard',"Arial", sans-serif; background-color: #F7F7F7; ; color: #333; display: flex; height: 100vh; overflow: hidden; } 

.logo-label { display: inline-block; background: url(../images/logo-secureai-text.svg) no-repeat; width:100px; height: 30px;margin-top: 10px; } 
#sidebar { width: 290px; min-width: 220px; background-color: #F7F7F7; display: flex; flex-direction: column; padding: 24px; transition: all 0.3s ease; overflow: hidden; } 
#sidebar.collapsed { width: 90px; min-width: 60px; padding: 20px 10px; } 
#sidebar h2 { font-size: 20px; margin-bottom: 30px; color: #222; display: flex; align-items: center; gap: 8px; margin-top: 3px; } 
.logo-icon { width: 24px; height: 24px; } 
#sidebar.collapsed .logo-label { display: none; } 
.search-box { margin-bottom: 30px; position: relative; } 
#sidebar.collapsed .search-box { display: none; } 
#sidebar .icon-logo { display: inline-block; background: url(../images/logo-secureai.svg) no-repeat; width: 40px; height: 40px; } 
.search-box input { width: 100%;border:1px solid #DBDBDB;font-size: 14px; background-color: #fff;border-radius: 99px;box-shadow: 0 4px 4px 0 #F4F4F4;padding:0 45px;height: 40px ; } 
.icon-search { position: absolute; left: 20px; top: 50%; transform: translateY(-50%); width: 18px; height: 18px; cursor: pointer; display: inline-block; } 
.menu-item { display: flex; align-items: center; gap: 10px; padding:14px 16px; margin-bottom: 2px; border-radius: 16px; cursor: pointer; border: none; transition: background 0.2s; white-space: nowrap; font-size: 14px; } 
.user-info-wrap { display: flex; align-items: center; padding: 16px 20px; margin-bottom: 2px; transition: background 0.2s; white-space: nowrap; font-size: 14px; margin-top: auto; color: #2B2B2B; } 
.user-info-wrap i { margin-right: 10px; } 
.user-info-wrap .icon-user-info { display: inline-block; background: url(../images/icon-user-info.svg) no-repeat; width:34px; height: 34px; } 
.user-info-wrap .user-info p:first-child { font-size: 14px; font-weight: bold; margin-bottom: 4px; } 
.menu-item:hover { background-color: #EFEFEF; } 
.menu-item.active { font-weight: bold; } 
.menu-item.active .menu-label { color: #1B2559; } 
.menu-item .icon-menu1 { display: inline-block; background: url(../images/icon-menu1.svg) no-repeat; width: 24px; height: 24px; } 
.menu-item .icon-menu2 { display: inline-block; background: url(../images/icon-menu2.svg) no-repeat; width:24px; height: 24px; } 
.menu-item .icon-menu3 { display: inline-block; background: url(../images/icon-menu3.svg) no-repeat; width:24px; height: 24px; } 
.menu-item .icon-menu4 {display: inline-block;background: url(../images/icon-menu4.svg) no-repeat;width:24px;height: 24px;}
.menu-item .icon-menu5 { display: inline-block; background: url(../images/icon-menu5.svg) no-repeat; width:24px; height: 24px;}
.menu-item .icon-menu6 { display: inline-block; background: url(../images/icon-menu6.svg) no-repeat; width:24px; height: 24px;}
.menu-label { transition: opacity 0.2s ease; color: #808080; font-size: 16px; } 

#sidebar.collapsed .icon-logo{margin-left: 14px;margin-top: 10px;}
#sidebar.collapsed .menu-label { opacity: 0; width: 0; overflow: hidden; } 
#sidebar.collapsed .menu-item { gap:0; margin: 0 auto; padding: 16px 16px; border-radius: 16px; } 
#sidebar.collapsed .user-info { overflow: hidden; } 
#sidebar.collapsed .user-info-wrap { margin-left: -3px; } 
#sidebar hr { width: 100%; height: 1px; background:#E3E3E3; border: 0; } 
#main { flex: 1; display: flex; flex-direction: column; margin:16px 16px 16px 0;border: 1px solid #ddd;border-radius: 24px;background-color: #fff;} 

#topbar {padding: 15px 20px; font-size: 18px; font-weight: bold; border-bottom: 1px solid #eeeff1; clear: both; /* display: flex; */}
#topbar span { vertical-align: 3px; font-size: 24px; } 
.topbar-right { display: flex; align-items: center; gap: 10px; float: right; } 

.extra-button { padding: 6px 12px;background: linear-gradient(270deg, #48A5E0 -17.24%, #003BDA 100%), linear-gradient(57deg, #003BDA -5.54%, #0FE0CC 92.14%), #0B0D25; border: none; color: white; border-radius: 8px; cursor: pointer; font-size: 14px; } 
.logout-button { padding: 6px 12px; background-color: #fff; border:1px solid #DFDFDF; color: #6F757E; border-radius: 8px; cursor: pointer; font-size: 14px; } 
#topbar .icon-topbar1 { display: inline-block; background: url(../images/icon-topbar1.svg) no-repeat; width: 24px; height: 24px; margin-right:8px; cursor: pointer;} 
#topbar .icon-topbar2 { display: inline-block; background: url(../images/icon-topbar2.svg) no-repeat; width: 24px; height: 24px; margin-right: 8px;cursor: pointer; } 
#topbar .icon-folding-menu { display: inline-block; background: url(../images/icon-folding-menu.svg) no-repeat; width:24px; height: 24px;}
#topbar .icon-newchat { display: inline-block; background: url(../images/icon-newchat.svg) no-repeat; width:24px; height: 24px; vertical-align: middle; margin-right: 6px;}
#topbar .icon-logout { display: inline-block; background: url(../images/icon-logout.svg) no-repeat; width:24px; height: 24px; vertical-align: middle; margin-right: 6px;}
#toggleSidebar { background: none; border: none; cursor: pointer; margin-top: 10px; } 
#toggleSidebar img { width: 24px; height: 24px; } 
#chat-container { flex: 1; padding: 20px; overflow-y: auto; display: flex; flex-direction: column; } 
.message { margin: 10px 0; max-width: 80%; padding: 10px 15px; border-radius: 15px; line-height: 1.4; } 
.user { align-self: flex-end; background-color: #f9f9f9; color: #111; } 
.bot { align-self: flex-start; color: #111; } 

/* welcome message */
#welcome-message { align-self: center; color: #2B2B2B; border:0; border-radius:0; font-size: 40px; font-weight: bold; margin:9% auto; text-align: center; max-width: 80%; color: #222; /* background-color: #fff; */}
#welcome-message::before { content: ''; display:block; background: url(../images/logo-secureai-icon.svg) no-repeat; width: 62px; height: 62px; margin:0 auto; } 
.input-area { display: flex; padding: 15px; padding-bottom: 3%; width: 50%; margin: 0 auto; flex-direction: column; } 
.input-area .input-wrapper { position: relative; flex: 1; } 
.input-area .txt { font-size: 14px; color: #9D9D9D; text-align: center; margin-top: 8px; } 
#input { width: 100%; padding: 20px 45px 20px 30px; font-size: 16px; border:1px solid #dbdbdb; border-radius:99px;
 box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1); } 
#input::placeholder { padding-left: 10px; } 
#send { position: absolute; right: 5px; top: 50%; transform: translateY(-50%); padding: 5px 10px; font-size: 14px;
 color: white; border: none; border-radius: 99px; cursor: pointer; /* display: flex; */
 align-items: center; gap: 6px; width:50px; height: 50px; background: linear-gradient(270deg, #48A5E0 -17.24%, #003BDA 100%), linear-gradient(57deg, #003BDA -5.54%, #04FAE3 92.14%), linear-gradient(270deg, #003BDA 15.25%, #4CABE0 91.53%), #003CDC} 
input:focus { border: 1px solid #3b82f6;outline: none;box-shadow: none;}
#send:hover { background-color: #133a8a; } 
#send .icon-send { display: inline-block; background: url(../images/icon-send.svg) no-repeat; width: 24px; height: 24px; margin-top: 4px; margin-right: 2px; } 
.send-icon { width: 18px; height: 18px; } 

 /* 안내 메시지 */
 .message {white-space: pre-wrap !important;}
/* 웰컴 메시지 */
.welcome-text {margin-bottom: 12px;margin-top: 16px;}
.welcome-extra {display: flex;gap: 8px;flex-wrap: wrap;margin-top: 20px;}
.quick-btn {padding: 6px 12px; border-radius: 16px;border: 1px solid #ddd;background: #f9f9f9;cursor: pointer;font-size: 13px}
.quick-btn:hover {background: #eee;}

@media (max-width : 1200px) { 
 .input-area { width: 100%; } 
 }
@media (max-width: 768px){
 #sidebar { width: 90px !important; min-width:90px !important; padding: 20px 10px !important; } 

 #sidebar .logo-label,
 #sidebar .menu-label,
 #sidebar .search-box { display: none !important; } 
 .topbar-right { display: none; } 
 .menu-item { gap:0 !important; margin: 0 auto !important; padding: 16px 16px !important; border-radius: 16px !important; } 
 #sidebar .user-info { display: none; } 
 }